@import './style.css';
@import './frontend.css';
@import './css_002';
@import './post-2.css';
@import './wpforms-base.css';
@import './inline.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

.rotate-180 {
  transform: rotate(180deg);
}

.wave-icon {
  opacity: 0.3;
}